.video {
  display: flex;
  margin-bottom: 20px;
}
.video-description {
  margin-left: 10px;
  display: inline-block;
}

.video-responsive {
  display: inline-block;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.title {
  font-size: 18px;
  font-weight: 600;
}

.description {
  font-size: 18px;
}
