@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --font: 'Source Sans Pro', sans-serif;
  --font-size: 14px;
  --primary: #0acf83;
  --accent: #ffc120;
  --danger: #ff5252;
  --success: #0acf83;
  --text-color: #000;
  --text-color-muted: #bababa;
  --radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:focus {
  outline: none;
}

html,
body,
#app {
  height: 100%;
}

body {
  background: #fff;
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: 1.333;
  color: var(--text-color);
}

a {
  color: var(--primary);
  transition: all 0.2s;
}

input[type='text'],
input[type='password'],
input[type='email'],
select,
textarea {
  font-family: var(--font);
  font-size: var(--font-size);
  width: 100%;
  padding: 10px;
  color: var(--text-color);
  border: 1px solid var(--text-color-muted);
  border-radius: var(--radius);
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--primary);
}

button,
.btn {
  background: var(--primary);
  display: inline-block;
  padding: 15px;
  border: 1px solid var(--primary);
  border-radius: var(--radius);
  color: #fff;
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.125;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover,
.btn:hover {
  opacity: 0.9;
}

h1 {
  font-size: 24px;
  letter-spacing: 0.2px;
  line-height: 1.2;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

header .logo img {
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav > a {
  line-height: 1;
  font-size: 24px;
  color: var(--text-color);
  margin-left: 10px;
  display: inline-flex;
  text-decoration: none;
}

.header-nav > a svg {
  font-size: inherit;
}

.header-nav button {
  font-size: 14px;
  padding: 6px 12px;
  margin-left: 15px;
}

.cart-icon {
  display: inline-flex;
  position: relative;
}

.cart-products-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--primary);
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
}

main {
  flex-grow: 1;
  padding: 0 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title h2 {
  margin-bottom: 0;
}

.title a {
  color: var(--text-color-muted);
}

.home-page .categories-list {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.home-page .categories-list li {
  display: none;
}
.home-page .categories-list li:nth-child(1),
.home-page .categories-list li:nth-child(2),
.home-page .categories-list li:nth-child(3),
.home-page .categories-list li:nth-child(4),
.home-page .categories-list li:nth-child(5) {
  display: inline-flex;
}

.form-item {
  margin-bottom: 20px;
}

.form-item label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

.form-field {
  position: relative;
}

.form-field.with-icon input {
  padding-left: 40px;
}

.form-field.with-icon svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: var(--text-color-muted);
}

.form-error {
  font-size: 13px;
  margin-top: 5px;
  color: var(--danger);
}

.form-success {
  font-size: 12px;
  margin-top: 5px;
  color: var(--success);
}

.form-submit button {
  width: 100%;
}

footer {
  padding: 10px 20px;
  text-align: center;
}

.copyright {
  font-size: 12px;
  color: var(--text-color-muted);
}

@media (min-width: 768px) {
  :root {
    --font-size: 16px;
  }
  h1 {
    font-size: 32px;
  }
  .logo img {
    height: 60px;
  }
  .header-nav a {
    font-size: 30px;
    margin-left: 20px;
  }
  .header-nav button {
    font-size: 16px;
    padding: 8px 20px;
  }

  .home-page .categories-list {
    overflow-x: inherit;
  }
}
