.share-page {
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.76) 100%),
    linear-gradient(180deg, #125038 0%, rgba(22, 199, 130, 0) 100%); */
  min-height: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share-page form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.share-page h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.change-sign-form {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.api-sign-example {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  margin: 3px 0 0 5px;
}
.share-filed-area {
  height: 100px;
}
